.admin-register-container {
  height: 100vh;
  background: linear-gradient(135deg, #5E78E9, #3d4fc1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-register-card {
  background: #fff;
  padding: 30px;
  width: 520px;
  height: 90% !important;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  overflow-y: scroll;
}

.admin-title {
  text-align: center;
  color: #5E78E9;
  margin-bottom: 20px;
}

.admin-section-title {
  border-left: 4px solid #5E78E9;
  padding-left: 10px;
  margin: 20px 0 10px;
  font-weight: 600;
  color: #0a7c7c;
}

.admin-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
/* .admin-register-card select{
  margin-top: 3px;
} */
.admin-register-card input,
.admin-register-card select,
.admin-register-card textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  margin-top: 10px !important;
}

.admin-register-card textarea {
  margin-bottom: 10px;
  margin-top: 0px !important;
  margin-left: 0px !important;
}

.admin-register-card input:focus,
.admin-register-card select:focus {
  border-color: #5E78E9;
}

.admin-register-btn {
  width: 100%;
  padding: 12px;
  background: #5E78E9;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
}

.admin-register-btn:hover {
  background: #4a63d8;
}