/* Main Navbar */
.navbar {
  display: flex;
  align-items: center;
  padding: 18px; 
  background: #0AA5A5;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  font-family: "Poppins", sans-serif;

}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-top: 12px !important;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  /* transition: 0.3s ease; */
}
ul{
      
}

.nav-links a:hover {
  color: #1b6f75;
}

/* Right Section */
.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Notification Icon */
.icon {
  font-size: 18px;
  color: #444;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  color: #1b6f75;
}

/* Profile Section */
.profile-section {
  position: relative;
}

.profile-img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #e6f4f5;
  transition: 0.3s;
}

.profile-img:hover {
  border-color: #1b6f75;
}

/* Dropdown */
.dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  width: 160px;
  padding: 8px 0;
  z-index: 100;
}

.dropdown p {
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.dropdown p:hover {
  background: #f4f8fb;
}

.logout {
  color: #e74c3c;
}

.logout:hover {
  background: #ffeaea;
}