body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

/* Background */
.doctor-login-container {
  height: 100vh;
  background: linear-gradient(135deg, #504DA6, #2E2A72);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.login-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  padding: 40px;
  border-radius: 16px;
  width: 350px;
  color: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Title */
.login-card h2 {
  text-align: center;
  margin-bottom: 25px;
}

/* Inputs */
.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #7A77D9;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #5f5cd3;
}

/* Forgot */
.forgot {
  text-align: right;
  font-size: 13px;
  margin-top: 10px;
  cursor: pointer;
}